<div class="d-flex align-items-center justify-content-center flex-column m-2" style="max-height: 40vh; height: 40vh;">
    <BottomLeadersItem></BottomLeadersItem>
    <BottomLeadersItem></BottomLeadersItem>
    <BottomLeadersItem></BottomLeadersItem>
</div>

@code {
    
}