<div class="m-2" style="height: 100%;">
    <Card Style="height: 100%; width: 100%;">
        <CardBody>
            <CardImage Source="_images/logo-noname.svg" Alt="Placeholder image" Style="height: 100px; width: 100px;">
            </CardImage>
            <CardTitle Size="5">Card title</CardTitle>
            <CardText>
                Lorem...
            </CardText>
        </CardBody>
    </Card>
</div>

@code {
    
}