<div class="d-flex align-items-center justify-content-center flex-row m-2" style="max-height: 40vh; height: 40vh;">
    <LeadersItem></LeadersItem>
    <LeadersItem></LeadersItem>
    <LeadersItem></LeadersItem>
</div>

@code {
    
}