<div class="d-flex align-items-center justify-content-center flex-row m-2">
    @foreach (var d in Data)
    {
        <LeadersItem Data="@d"></LeadersItem>
    }
</div>

@code {
    [Parameter] public List<LeadersModel> Data { get; set; }
}