<div class="">
    <Tabs SelectedTab="@selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            <div class="w-100 d-flex justify-content-around align-items-center flex-row">
                <BarLink To="home">
                    Back to Home
                </BarLink>
                <h3>Top Public Contributors</h3>
                <div class="d-flex justify-content-center align-items-center flex-row">
                    <Tab Name="today">Today</Tab>
                    <Tab Name="thisweek">This Week</Tab>
                </div>
            </div>
        </Items>
        <Content>
            <TabPanel Name="today">
                Leaders today
                <div>
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                This is some text within a card body.
                            </div>
                        </div>
                        <div class="card">
                          <div class="card-body">
                            This is some text within a card body.
                          </div>
                        </div>
                    </div>
            </TabPanel>
            <TabPanel Name="thisweek">
                Leaders thisweek
            </TabPanel>
        </Content>
    </Tabs>
</div>

@code {
    string selectedTab = "today";

    private void OnSelectedTabChanged( string name )
    {
        selectedTab = name;
    }
}