@page "/leaders"
@inject HttpClient Http
@inject LeadersService LeadersService

<div class="w-100 h-100">
    @if (_data == null)
    {
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <TopLeaders></TopLeaders>
    }
</div>

@code {
    private LeadersModel _data = new LeadersModel();
    //string url = "https://enq-server.herokuapp.com/leaders/9t3IrigkUum5c5u1WysQ";
    protected override async Task OnInitializedAsync()
    {
        _data = await LeadersService
            .GetOneLeadersAsync(Http, "9t3IrigkUum5c5u1WysQ");
        Console.WriteLine(_data);
    }

}