@page "/leaders"
@inject HttpClient Http
@inject LeadersService LeadersService

<div class="w-100 h-100">
    @if (_leadersData == null)
    {
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else
    {
        <TopLeaders leadersData="@_leadersData"></TopLeaders>
    }
</div>

@code {

    private List<LeadersModel> _leadersData = new List<LeadersModel>();
    //string url = "https://enq-server.herokuapp.com/leaders/9t3IrigkUum5c5u1WysQ";
    protected override async Task OnInitializedAsync()
    {
        _leadersData = await LeadersService
            .GetLeadersAsync(Http);
        Console.WriteLine(_leadersData);
    }

}