<AuthorizeView>
    <Authorized>
        <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row; padding: 1vw;">
            <a href="Identity/Account/Manage">
                <Icon Name="IconName.User" IconStyle="IconStyle.Regular" />
                @context.User.Identity.Name</a>
            <div class="alert alert-primary" role="alert">
              A simple primary alert—check it out!
            </div>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">
                    <Icon Name="IconName.StepBackward" IconStyle="IconStyle.Regular"/>
                    Log out</button></form>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>