<div style="width: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <image src="_images/logo.svg" style="height: 500px; width: 750px;"/>
    <div style="display: flex; flex-direction: row;">
        <a href="Identity/Account/Register" style="outline: none; cursor: pointer; text-decoration: none;">
            <h5 style="color: black;">
                Register
            </h5>
            </a>
        <div style="margin: 10px"></div>
            <a href="Identity/Account/Login" style="outline: none; cursor: pointer; text-decoration: none;">
                <h5 style="color: black;">
                    Log in
                </h5>
            </a>
        </div>
</div>

@code {
    
}