<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand d-flex flex-row justify-content-center align-items-center" href="home">
                <img src="_images/logo-noname.svg" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
                English And Quiz
            </a>
            <span class="navbar-text">
                <div style="display: flex; justify-content: space-between; align-items: center; flex-direction: row;">
                    <a href="Identity/Account/Manage">
                        <Icon Name="IconName.User"/>
                        <span class="badge badge-light">@context.User.Identity.Name</span>
                    </a>
                    <form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link">
                            <span class="badge badge-light">Log out</span>
                        </button>
                    </form>
                </div>
            </span>
        </nav>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>